Repository 0x63616c/pzql: changes, and which lefthook commands are due for each by the changed paths.
All: biome, cargo-fmt, cargo-check, cargo-clippy

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{ts,tsx,js,jsx,json,css}"
      run: bunx @biomejs/biome check --write {staged_files} && git add {staged_files}
    cargo-fmt:
      glob: "*.rs"
      run: cargo fmt
    cargo-check:
      glob: "*.rs"
      run: cargo check
    cargo-clippy:
      glob: "*.rs"
      run: cargo clippy -- -D warnings

chore: enforce conventional commits via lefthook hook and commit skill
  .claude/skills/commit/SKILL.md
  lefthook.yml
Due: none

docs: add skill enforcement, style rules, and replace emdashes in CLAUDE.md
  CLAUDE.md
Due: none

chore: expand Claude Code permission allowlist
  .claude/settings.local.json
Due: biome

chore: disable lefthook TTY output
  lefthook.yml
Due: none

docs: mandate /commit skill for all commits
  .claude/skills/commit/SKILL.md
  CLAUDE.md
Due: none

docs: replace Playwright with Peekaboo testing docs and add screenshot convention
  CLAUDE.md
Due: none

chore: ignore screenshots directory and loose PNGs
  .gitignore
Due: none

docs: add library philosophy, theming docs, and stack entries to CLAUDE.md
  CLAUDE.md
Due: none

chore: add heroicons dependency
  bun.lock
  package.json
Due: biome

chore: replace deprecated no_tty with output: false in lefthook
  lefthook.yml
Due: none

feat: add zustand with counter store demo
  bun.lock
  package.json
  src/App.tsx
  src/components/CounterDemo.tsx
  src/stores/counter.ts
Due: biome

feat: set up Tailwind v4, shadcn/ui, and Hyper theming system
  biome.json
  bun.lock
  components.json
  package.json
  src/App.css
  src/App.tsx
  src/index.css
  src/lib/utils.ts
  src/main.tsx
  src/themes/hyper.ts
  src/themes/index.ts
  tsconfig.json
  vite.config.ts
Due: biome

docs: add product vision for pzql
  docs/plans/2026-02-21-product-vision.md
Due: none

chore: replace starter template with theme demo page
  src/App.tsx
Due: biome

feat: add WebSocket transport client for dual-transport IPC
  src/ws-client.ts
Due: biome

docs: add dual-transport IPC implementation plan
  docs/plans/2026-02-21-dual-transport-ipc.md
Due: none

docs: add dual-transport IPC design
  docs/plans/2026-02-21-dual-transport-ipc-design.md
Due: none

feat: add native-app CSS behaviors for Tauri window
  src/index.css
Due: biome

docs: add mandatory agent teams convention to CLAUDE.md
  CLAUDE.md
Due: none

fix: set root directory for cargo lefthook hooks
  lefthook.yml
Due: none

fix: rename hyper theme import to hyperNight
  src/main.tsx
Due: biome

feat: implement #[event] proc macro with typed emit and inventory registration
  src-tauri/crates/pzql-macros/src/event.rs
  src-tauri/tests/event_macro.rs
Due: cargo-fmt, cargo-check, cargo-clippy

style: fix import ordering in command.rs
  src-tauri/crates/pzql-macros/src/command.rs
Due: cargo-fmt, cargo-check, cargo-clippy

feat: restructure src-tauri as Cargo workspace with pzql-ipc and pzql-macros
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/crates/pzql-ipc/Cargo.toml
  src-tauri/crates/pzql-ipc/src/lib.rs
  src-tauri/crates/pzql-macros/Cargo.toml
  src-tauri/crates/pzql-macros/src/command.rs
  src-tauri/crates/pzql-macros/src/event.rs
  src-tauri/crates/pzql-macros/src/lib.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-clippy

feat: implement #[command] proc macro with inventory registration
  src-tauri/Cargo.toml
  src-tauri/crates/pzql-macros/src/command.rs
  src-tauri/src/lib.rs
  src-tauri/tests/command_macro.rs
Due: cargo-fmt, cargo-check, cargo-clippy

feat: add WS bindings mirror and IPC transport bridge
  src/ipc.ts
  src/ws-bindings.ts
Due: biome

feat: add WebSocket dev-server and tauri-specta bindings generation
  src-tauri/src/dev_server/mod.rs
  src-tauri/src/dev_server/server.rs
  src-tauri/src/lib.rs
  src/bindings.ts
Due: biome, cargo-fmt, cargo-check, cargo-clippy

fix: add ts-nocheck to auto-generated bindings.ts
  src/bindings.ts
Due: biome

style: fix import ordering in dev_server/server.rs
  src-tauri/src/dev_server/server.rs
Due: cargo-fmt, cargo-check, cargo-clippy

ci: add GitHub Actions workflow for lint and compile checks
  .github/workflows/ci.yml
  src-tauri/rust-toolchain.toml
Due: none

fix: add @ts-nocheck header to suppress unused vars in generated bindings.ts
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-clippy

docs: update CLAUDE.md with dual-transport IPC architecture and usage
  CLAUDE.md
Due: none

fix: add @ts-nocheck header to generated bindings.ts
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-clippy

chore: switch to Hyper Night theme and remove Hyper theme
  src/themes/hyper.ts
Due: biome

chore: add pre-commit hook to enforce final newlines
  lefthook.yml
Due: none

chore: remove unused hyper theme and theme.json
  theme.json
Due: biome

chore: add guardrails to block attribution trailers in commits
  .claude/hooks/pre-tool-use/block-co-authored-by.sh
  .claude/settings.json
  lefthook.yml
Due: biome

docs: add conventional commit format and breaking change rules
  .claude/skills/commit/SKILL.md
  CLAUDE.md
Due: none

docs: replace starter template README with project description
  README.md
Due: none
